<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="rewrite" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_FILENAME}" pattern="\.axd" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx"/>
        </rule>
        <rule name="Redirect to clean URL" enabled="true" stopProcessing="true">
          <match url="^([a-z0-9/]+).aspx$" ignoreCase="true"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Redirect" url="{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
